/* Checkout top */
.checkout-top {
    padding-bottom: 0;
}

.checkout-top a {
    display: block;
}

/* Checkout */
.checkout-container {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: calc(var(--global-gap) * 1.5);
    margin-bottom: var(--spacing-lg-1);
}

@media screen and (max-width: 992px) {
    .checkout-container {
        grid-template-columns: 1fr;
    }
}

.checkout-container-left,
.checkout-container-right {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) * 1.5);
}

/* Information */
.checkout-contact-input {
    width: 100%;
    padding: var(--spacing-sm-1) var(--global-spacing);
    border-radius: var(--global-border-radius);
}

.checkout-contact-input input,
.checkout-contact-input input:focus,
.checkout-contact-input input:focus:invalid:focus,
.checkout-contact-input input:hover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: unset;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    resize: none;
}

/* Payment */
.checkout-container .checkout-box {
    width: 100%;
    padding: var(--spacing-lg-1);
    border-radius: var(--global-border-radius);
    align-self: start;
}

.payment-box {
    margin-top: var(--global-spacing);
    padding: var(--global-spacing) var(--spacing-lg-4) var(--global-spacing) var(--global-spacing);
    border-radius: calc(var(--global-border-radius) * 2);
    position: relative;
    cursor: pointer;
    user-select: none;
}

.payment-box:not(:has(img)) {
    padding: var(--global-spacing);
}

.payment-box.payment-disable {
    opacity: .64;
    filter: grayscale(1);
    pointer-events: none;
}

.payment-box input[type="radio"] {
    display: none;
}

.payment-box img {
    width: 30px;
    height: 30px;
    border-radius: var(--global-border-radius);
    position: absolute;
    top: var(--global-spacing);
    right: var(--global-spacing);
    object-fit: contain;
}

/* Product summary */
.products-summary .product-item {
    display: flex;
    gap: var(--global-gap);
}

.products-summary .product-item:not(:first-child) {
    margin-top: var(--global-spacing);
}

.products-summary .product-item img {
    width: 64px;
    height: 64px;
    border-radius: var(--global-border-radius);
}

.products-summary .product-item .product-info {
    width: 100%;
}

.products-summary .product-item .product-tag {
    display: block;
    width: fit-content;
    margin-bottom: calc(var(--global-spacing) * 0.75);
    position: unset;
}

.products-summary .product-item table {
    width: 100%;
}

/* Order summary */
.order-summary table {
    width: 100%;
}

.order-summary table tr td:first-child {
    width: 146px;
}

/* Checkout button */
.checkout-btn {
    width: 100%;
}
