/* Container */
.custom-container {
    width: 100%;
    max-width: var(--global-max-width);
    margin: var(--spacing-auto);
    padding: var(--global-spacing) var(--spacing-lg-1);
}

.custom-container-fluid {
    width: 100%;
    margin: var(--spacing-auto);
    padding: var(--global-spacing) 0;
}

.container-soft-round {
    border-radius: var(--global-border-radius);
}

.container-full-round {
    border-radius: var(--round-border-radius);
}

.custom-container-small {
    max-width: calc(var(--global-max-width) * 0.5);
    margin: var(--spacing-auto);
    padding: var(--global-spacing) var(--spacing-lg-1);
}
