/* Container */
.custom-container {
    max-width: var(--global-max-width);
    margin: var(--spacing-auto);
    padding: var(--global-spacing) var(--spacing-lg-1);
}

.custom-container-fluid {
    margin: var(--spacing-auto);
    padding: var(--global-spacing) var(--spacing-lg-1);
}

.container-soft-round {
    border-radius: var(--global-border-radius);
}

.container-full-round {
    border-radius: var(--round-border-radius);
}

/* Button */
.custom-btn {
    padding: var(--spacing-sm-2) var(--spacing-lg-1);
}

.custom-btn-rounded {
    border-radius: var(--round-border-radius);
}

.user-button img {
    width: calc(var(--custom-rem) * 0.875);
    height: calc(var(--custom-rem) * 0.875);
    margin-bottom: var(--gap-xs);
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-left {
    width: fit-content;
    padding: var(--global-spacing) var(--spacing-lg-1);
    gap: var(--gap-xl);
}

.header-right {
    width: calc(100% - var(--header-logo-width));
    padding: var(--global-spacing) var(--spacing-lg-1);
}

.hamburger-wrapper {
    width: calc(var(--custom-rem));
    height: calc(var(--custom-rem) * 0.625);
    position: relative;
    cursor: pointer;
}

.hamburger {
    width: calc(var(--custom-rem));
    height: calc(var(--custom-rem) * 0.625);
    position: absolute;
}

.hamburger:before,
.hamburger:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all ease-out 0.3s;
}

.hamburger:before {
    top: 0;
}

.hamburger:after {
    top: 100%;
}

.hamburger span {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transition: all ease-out 0.1s;
}

.hamburger.active-menu:before {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}

.hamburger.active-menu:after {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
}

.hamburger.active-menu span {
    opacity: 0;
}

.search-box {
    width: 100%;
    border-radius: var(--round-border-radius);
    overflow: hidden;
    position: relative;
}

.search-box input,
.search-box input:focus {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--spacing-sm-2) calc(var(--global-spacing) * 4.125) var(--spacing-sm-2) var(--global-spacing);
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.search-btn,
.search-btn:focus,
.clear-btn,
.clear-btn:focus {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.search-btn {
    right: var(--global-spacing);
}

.clear-btn {
    right: calc(var(--global-spacing) * 2.5);
}

.search-btn img,
.search-btn svg,
.clear-btn img,
.clear-btn svg {
    width: var(--custom-rem);
    height: var(--custom-rem);
}

.header-button-group {
    gap: var(--global-gap);
}

.header-button-group img {
    width: calc(var(--custom-rem) * 1.25);
    height: calc(var(--custom-rem) * 1.25);
}

.notification-container {
    display: inline-block;
    position: relative;
}

.notification-bell {
    position: relative;
    cursor: pointer;
}

.notification-container.has-noti::after {
    content: '';
    display: block;
    width: calc(var(--custom-rem) * 0.625);
    height: calc(var(--custom-rem) * 0.625);
    border-radius: var(--round-border-radius);
    position: absolute;
    top: calc(var(--custom-rem) * 0.125);
    right: 0;
}

.notification-dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: fit-content;
    max-width: calc(var(--custom-rem) * 12);
    padding: var(--gap-sm) var(--global-gap);
    border-radius: var(--global-border-radius);
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 101;
}

.notification-dropdown a {
    width: calc(var(--custom-rem) * 10);
}

.header-cart {
    position: relative;
    margin-right: calc(var(--custom-rem) * 0.325);
}

.header-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: var(--gap-xs);
    border-radius: var(--round-border-radius);
    position: absolute;
    top: 0;
    right: calc(var(--custom-rem) * 0.625 * -1);
}

.side-menu {
    width: var(--header-logo-width);
    height: calc(100dvh - var(--header-height));
    position: absolute;
    top: var(--header-height);
    left: calc(var(--header-logo-width) * -1);
    z-index: 100;
    transform: translateX(0);
    transition: transform .3s ease;
}

@media screen and (max-width: 992px) {
    .side-menu {
        min-width: calc(var(--custom-rem) * 16);
        left: calc(var(--custom-rem) * 16 * -1);
    }
}

.side-menu-active {
    transform: translateX(var(--header-logo-width));
}

@media screen and (max-width: 992px) {
    .side-menu-active {
        transform: translateX(calc(var(--custom-rem) * 16));
    }
}

.side-menu ul {
    margin: 0;
}

.side-menu ul li {
    list-style-type: none;
}

.side-menu ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--gap-sm) var(--spacing-lg-1);
}

.side-menu ul li a img,
.side-menu ul li a svg {
    width: 15px;
    height: 15px;
    margin: 0 var(--gap-sm) var(--gap-xs) 0;
}

.side-search-box {
    padding: var(--global-spacing);
}

.profile-card {
    gap: var(--gap-xs);
    margin: var(--spacing-lg-1);
    padding: var(--spacing-lg-1);
    transition: all 0.2s ease-out;
}

.profile-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    width: calc(var(--custom-rem) * 4);
    height: calc(var(--custom-rem) * 4);
    object-fit: contain;
    border-radius: var(--round-border-radius);
}

/* Footer */
.footer-sub {
    padding: var(--spacing-lg-1) 0 var(--spacing-lg-3);
}

.footer-sub-text p:first-of-type {
    margin-top: var(--global-spacing);
}

.footer-sub-text p:last-of-type {
    margin-bottom: var(--global-spacing);
}

.footer-main {
    padding: var(--spacing-lg-3) 0;
}

.footer-main a {
    display: block;
    width: fit-content;
}

.footer-social {
    gap: var(--gap-sm);
}

.footer-social a {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm-1);
    border-radius: var(--round-border-radius);
}

.footer-social svg,
.footer-social img {
    width: 15px;
    height: 15px;
}

.footer-copyright {
    padding: var(--global-spacing) 0 0;
}
