/* Content margin */
.blog-topics,
.featured-blog,
.blogs,
.home-boxes {
    margin-bottom: var(--spacing-lg-3);
}

@media screen and (max-width: 992px) {
    .blog-topics,
    .featured-blog,
    .blogs,
    .home-boxes {
        margin-bottom: var(--spacing-lg-1);
    }
}

/* Featured blog */
.featured-blog-list {
    grid-template-columns: 1.1fr 1fr;
}

@media screen and (max-width: 992px) {
    .featured-blog-list {
        grid-template-columns: 1fr;
    }
}

.featured-blog-list .blog-item:first-of-type {
    grid-area: span 3 / span 1 / span 3 / span 1;
    display: flex;
    flex-direction: column;
}

.featured-blog-list .blog-item:first-of-type > a {
    width: 100%;
    height: calc(var(--custom-rem) * 25);
}

@media screen and (max-width: 992px) {
    .featured-blog-list .blog-item:first-of-type > a {
        height: calc(var(--custom-rem) * 15);
    }
}

.featured-blog-list .blog-item:first-of-type .blog-item-content {
    flex-basis: 100%;
    max-width: 100%;
    margin: var(--spacing-lg-1) 0 0;
}
