@import url(../css/variables.css);
@import url(../css/skin.css);
@import url(../css/components.css);
@import url(../css/font-face.css);
@import url(../css/typography.css);
@import url(../css/home.css);

html,
body {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.web-content {
    min-height: 100dvh;
}
