@import url(../css/variables.css);
@import url(../css/skin.css);
@import url(../css/components.css);
@import url(../css/font-face.css);
@import url(../css/typography.css);
@import url(../css/home.css);

html,
body {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.web-content {
    min-height: 100dvh;
}

.planet.active {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.character-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    transition: background 0.2s;
}

.character-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: var(--color-dark);
}

