/* Body */
body::-webkit-scrollbar-track {
    background-color: var(--color-gray);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-dark);
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
}

a,
p {
    color: var(--color-text-light);
}

a:hover {
    color: var(--color-primary);
}

/* Svg */
svg,
svg path {
    fill: var(--color-dark);
    stroke: var(--color-dark);
}

.primary-text {
    color: var(--color-primary);
}

/* Transition gradient text */
.transition-gradient-text {
    background: linear-gradient(300deg, var(--color-primary), var(--color-primary-dark), var(--color-primary));
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 4s ease infinite;
    user-select: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Background */
body {
    background-color: var(--color-light);
}

::selection {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.primary-bg {
    background-color: var(--color-primary);
}

.primary-light-bg {
    background-color: var(--color-primary-light);
}

.secondary-bg {
    background-color: var(--color-secondary);
}

.dark-bg {
    background-color: var(--color-dark);
}

.light-bg {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
}

/* Container */
.custom-box {
    border: 1px solid var(--color-border);
}

.custom-box.dark-bg * {
    color: var(--color-light);
}

.custom-box.primary-content .box-icon svg path,
.custom-box.secondary-content .box-icon svg path,
.custom-box.tertiary-content .box-icon svg path,
.custom-box.quaternary-content .box-icon svg path {
    fill: var(--color-light);
    stroke: var(--color-light);
}

.custom-box.primary-content .box-icon {
    background-color: var(--color-primary);
    border: unset;
}

.custom-box.primary-content h3 {
    color: var(--color-primary);
}

.custom-box.secondary-content .box-icon {
    background-color: var(--color-secondary);
    border: unset;
}

.custom-box.secondary-content h3 {
    color: var(--color-secondary);
}

.custom-box.tertiary-content .box-icon {
    background-color: var(--color-tertiary);
    border: unset;
}

.custom-box.tertiary-content h3 {
    color: var(--color-tertiary);
}

.custom-box.quaternary-content .box-icon {
    background-color: var(--color-quaternary);
    border: unset;
}

.custom-box.quaternary-content h3 {
    color: var(--color-quaternary);
}

.box-icon {
    background-color: var(--color-light);
    border: 1px solid var(--color-border)
}

.hero-section {
    background-image: url(../img/hero-bg.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: auto;
}

.hero-section .social-link a {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}

.share-container a {
    border: 2px solid var(--color-border);
}

.share-container a:hover {
    border-color: var(--color-primary);
}

.share-container a:nth-of-type(1):hover {
    border-color: var(--color-facebook);
}

.share-container a:nth-of-type(2):hover {
    border-color: var(--color-messenger);
}

.share-container a:nth-of-type(3):hover {
    border-color: var(--color-x);
}

.share-container a:nth-of-type(4):hover {
    border-color: var(--color-linkedin);
}

/* Social link */
.social-link a {
    background-color: var(--color-light);
    border: 2px solid var(--color-light);
}

.social-link a:hover {
    border-color: var(--color-primary);
}

/* Floating button */
.radial-progress {
    background: conic-gradient(var(--primary-color) 0%, var(--primary-color) 0%, var(--color-gray) 0%);
}

.go-top-button {
    background-color: var(--color-light);
}

/* Floating contact button */
.floating-contact-button {
    background-color: var(--color-primary);
    color: var(--color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Popup Styles */
.contact-popup {
    background-color: var(--color-light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popup-content-form {
    border: 1px solid var(--color-border);
}

/* Button */
a.custom-btn {
    color: var(--color-text);
    border: 1px solid var(--color-border-2);
}

a.custom-btn:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

a.custom-btn.custom-btn-primary {
    color: var(--color-light);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

a.custom-btn.custom-btn-primary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

a.custom-btn.custom-btn-dark {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

a.custom-btn.custom-btn-dark:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

/* Pagination */
.pagination {
    border: 1px solid var(--color-border);
}

.paging {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

.paging a.paging-active {
    color: var(--color-primary);
}

/* Header */
.header {
    background-color: var(--color-light);
    border-bottom: 1px solid var(--color-border);
}

@media screen and (min-width: 992px) {
    .header-left {
        border-right: 1px solid var(--color-border);
    }
}

.hamburger:before,
.hamburger:after {
    border-bottom: 2px solid var(--color-dark);
}

.hamburger span {
    background-color: var(--color-dark);
}

.search-box {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
}

.search-btn,
.clear-btn {
    background-color: transparent;
}

.notification-dropdown {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-container.has-noti::after {
    background-color: var(--color-red);
    border: 2px solid var(--color-light);
}

.header-cart span {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.side-menu {
    background-color: var(--color-light);
    border-right: 1px solid var(--color-border);
}

.side-menu ul li:hover {
    background-color: var(--color-gray);
}

.side-menu-top ul li {
    border-bottom: 1px solid var(--color-border);
}

.side-menu-bot ul li {
    border-top: 1px solid var(--color-border);
}

.profile-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: var(--color-light);
    border-top: 1px solid var(--color-border);
}

.footer-sub,
.footer-main {
    border-bottom: 1px solid var(--color-border);
}

.footer-copyright a {
    color: var(--color-primary);
}

/* Marquee */
.marquee-container {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

/* Blog */
.blogs-view-system svg path {
    fill: var(--color-text);
    stroke: var(--color-text);
}

.blogs-view-system svg.view-system-active path {
    fill: var(--color-primary);
    stroke: var(--color-primary);
}

.blog-topic {
    border: 1px solid var(--color-border);
}

.blog-topic:hover {
    border-color: var(--color-primary);
}

.blog-item .blog-item-content h4:hover {
    color: var(--color-primary);
}

.blog-container-list .blog-item {
    background-color: var(--color-light);
}

.blog-publish span {
    color: var(--color-primary);
}

/* Custom dropdown */
.dropdown-btn {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
}

.dropdown-btn:focus {
    outline: unset;
}

.dropdown-menu {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: transparent;
    background-image: unset;
    color: var(--color-primary)
}

.dropdown-menu li a.dropdown-selected {
    color: var(--color-primary);
}

/* Popup message */
.popup-message {
    background-color: var(--color-light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popup-message-icon {
    background-color: var(--popup-color-default-light);
}

.popup-message-icon-round {
    background-color: var(--popup-color-default);
}

.popup-progress-bar {
    background-color: var(--popup-color-default);
    border-top: 2px solid var(--popup-color-default-light);
}

/* Warning */
/* Error */
.warning-message .popup-message-icon {
    background-color: var(--popup-color-warning-light);
}

.warning-message .popup-message-icon-round {
    background-color: var(--popup-color-warning);
}

.warning-message .popup-progress-bar {
    background-color: var(--popup-color-warning);
    border-top: 2px solid var(--popup-color-warning-light);
}

/* Error */
.error-message .popup-message-icon {
    background-color: var(--popup-color-error-light);
}

.error-message .popup-message-icon-round {
    background-color: var(--popup-color-error);
}

.error-message .popup-progress-bar {
    background-color: var(--popup-color-error);
    border-top: 2px solid var(--popup-color-error-light);
}

/* Success */
.success-message .popup-message-icon {
    background-color: var(--popup-color-success-light);
}

.success-message .popup-message-icon-round {
    background-color: var(--popup-color-success);
}

.success-message .popup-progress-bar {
    background-color: var(--popup-color-success);
    border-top: 2px solid var(--popup-color-success-light);
}

/* Custom subscribe modal */
.modal-overlay {
    background-color: var(--color-dark);
    opacity: .5;
}

.modal-subscribe {
    background-color: var(--color-light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a.custom-btn.custom-btn-dark.submitted-email {
    color: transparent;
    opacity: .5;
}

a.custom-btn.custom-btn-dark.submitted-email::after {
    background-image: url(../img/loading-gif.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Email Input */
.subscribe-form {
    border: 1px solid var(--color-border);
}

/* Close Button */
.close-btn {
    opacity: .46;
}

.close-btn:hover {
    opacity: 1;
}

/* Blog categories page */
.blog-category-card {
    border: 1px solid var(--color-border);
}

.blog-category-card:hover {
    border-color: var(--color-primary);
}

/* About me */
.hero-about-image {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-border);
}

.about-me .social-link a {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}

.about-timeline-event {
    border: 1px solid var(--color-border);
}

.about-timeline-event p:not(:first-child) {
    border-top: 1px solid var(--color-border);
}

.about-timeline-event span {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.about-topics {
    background-color: var(--color-primary-light);
}

.about-topic h2 {
    color: var(--color-primary);
}

/* Store page */
.buy-now-icon {
    background-color: var(--color-primary);
}

.buy-now-icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-tag {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.product-tag.exclusive-tag {
    background-color: var(--color-exclusive);
}

.product-tag.hot-tag {
    background-color: var(--color-hot);
}

.product-tag.sale-tag {
    background-color: var(--color-sale);
}

.product-sale-price {
    color: var(--color-sale-price);
}
