* {
    font-family: 'Merriweather Sans';
    line-height: 170%;
    font-size: var(--global-text);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 150%;
    margin-top: 0;
    padding-bottom: var(--gap-xs);
}

a,
p {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

a {
    text-underline-offset: var(--gap-xs);
}

.transition-gradient-text {
    font-family: 'Merriweather Sans';
    font-weight: bold;
}

/* Container */
.custom-box * {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.custom-box h3 {
    font-size: calc(var(--global-text) * 3);
    line-height: 100%;
    margin-bottom: 0;
}

/* Hero section */
.hero-section {
    text-align: center;
}

.hero-section h1 {
    font-size: clamp(calc(var(--global-text) * 2.2), 5vw, calc(var(--global-text) * 3));
    line-height: 1.4;
}

/* Input */
input {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

/* Button */
.custom-btn {
    font-size: calc(var(--global-text) * 0.875);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    user-select: none;
}

/* Pagination */
.pagination a {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.paging a.paging-active {
    font-weight: bold;
}

.product-tag {
    font-size: calc(var(--global-text) * 0.75);
    font-weight: bold;
}

/* Header */
a.header-title {
    font-size: calc(var(--global-text) * 1.125);
    white-space: nowrap;
}

.notification-dropdown a,
.notification-dropdown p {
    font-size: calc(var(--global-text) * 0.875);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.notification-dropdown p {
    white-space: nowrap;
}

.header-cart span {
    font-size: calc(var(--global-text) * 0.55);
}

.side-menu ul li a {
    text-decoration: none;
}

.profile-card h3 {
    font-size: var(--global-text);
    text-align: center;
}

/* Footer */
.footer-main h4 {
    margin-bottom: var(--global-spacing);
}

.footer-main a,
.footer-main p {
    margin-bottom: var(--spacing-sm-1);
}

.footer-copyright,
.footer-copyright a {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 0.875);
    text-align: center;
}

.footer-copyright a {
    font-weight: bold;
}

/* Marquee */
.marquee-container {
    white-space: nowrap;
}

.marquee a {
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Blog */
a.blog-topic {
    font-size: calc(var(--global-text) * 0.875);
    text-decoration: none;
    margin-bottom: var(--global-gap);
}

.blog-item:hover {
    text-decoration: none;
}

.blog-item-content a:has(h4) {
    font-family: 'Merriweather Sans';
    text-decoration: none;
    margin-bottom: var(--gap-xs);
}

.blog-item-content h4,
.blog-item-content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.blog-publish {
    font-size: calc(var(--global-text) * 0.875);
    margin-bottom: 0;
}

.blog-publish span {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 0.875);
}

/* Custom dropdown */
.dropdown-btn span {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu li a {
    white-space: normal;
}

/* Custom subscribe modal */

/* Close Button */
.close-btn {
    font-size: calc(var(--global-text) * 1.5);
}

/* Popup message */
.popup-message-content p {
    font-weight: bold;
    line-height: 140%;
    margin: 0;
}

/* Modal Content */
.modal-content {
    text-align: center;
}

/* Home */

/* Featured & All blogs */
@media screen and (min-width: 992px) {
    .featured-blog h2 {
        text-align: center;
    }
}

.featured-blog h2,
.blogs h2 {
    font-size: clamp(calc(var(--global-text) * 1.5), 5vw, calc(var(--global-text) * 2.5));
    font-weight: 500;
    margin-bottom: var(--spacing-lg-3);
}

.blogs h3 {
    margin-bottom: var(--spacing-lg-2);
}

@media screen and (max-width: 992px) {
    .featured-blog h2,
    .blogs h2,
    .blogs h3 {
        font-weight: 600;
        margin-bottom: var(--spacing-lg-1);
    }
}

/* Blog page */
.blog-page-content p {
    font-size: calc(var(--global-text) * 1.125);
    margin-bottom: var(--global-spacing);
}

.blog-page-image span {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 0.875);
    font-style: italic;
    font-weight: 400;
}

/* Blog categories page */
.blog-category-card {
    text-align: center;
}

/* About me */
.about-me h1 {
    text-align: center;
    margin-top: var(--spacing-lg-3);
}

@media screen and (max-width: 992px) {
    .about-me h1 {
        margin-top: var(--spacing-lg-1);
    }

    .about-me h2 {
        font-size: calc(var(--global-text) * 1.625);
    }
}

.about-me p {
    font-size: calc(var(--global-text) * 1.125);
}

.about-timeline-event p {
    font-size: var(--global-text);
    margin: 0;
}

.about-timeline-event span {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 0.875);
    font-weight: bold;
}

.about-topic-image span {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text)* 0.875);
    font-style: italic;
    font-weight: 400;
}

.about-topic-detail p {
    margin-bottom: var(--global-spacing);
}

/* Store page */
.storepage-top {
    text-align: center;
}

.product-item-bot a {
    font-size: calc(var(--global-text) * 0.875);
    font-weight: bold;
}

.product-sale-price {
    font-size: calc(var(--global-text) * 0.875);
    text-decoration: line-through;
}

.product-price {
    font-weight: bold;
}

/* Product detail page */
.breadcrumbs a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.product-images-controller p {
    margin: 0;
}

.product-detail-right h3 {
    font-size: calc(var(--global-text) * 1.25);
    margin-bottom: 0;
}

.star-ratings span {
    font-size: calc(var(--global-text) * 1.75);
}

.product-detail-price {
    zoom: 1.3;
}

.commitment h5 {
    margin-bottom: var(--spacing-sm-1);
}

.commitment p {
    font-size: calc(var(--global-text) * 0.875);
}

@media screen and (max-width: 992px) {
    .commitment h5,
    .commitment p {
        text-align: center;
    }
}

/* Description */
.product-detail-bottom h4 {
    margin-top: var(--spacing-lg-1);
}

.product-detail-bottom h5 {
    width: fit-content;
    margin-bottom: var(--spacing-lg-2);
    padding-bottom: 5px;
}

.product-detail-bottom p,
.product-detail-bottom b,
ul.product-description-step li {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 1);
    list-style-type: decimal;
}

.product-detail-bottom ul li p {
    margin-bottom: var(--spacing-sm-1);
}

.product-detail-bottom table tr td:first-child p {
    font-weight: bold;
}

.product-detail-bottom table td p {
    margin: 0;
}

/* Checkout top */
.checkout-top a {
    font-size: calc(var(--global-text) * 0.875);
    text-decoration: none;
    margin-bottom: var(--global-spacing);
}

.checkout-top h3 {
    margin-bottom: 0;
}

/* Information */
.checkout-contact-form h5 {
    margin-top: var(--global-spacing);
    margin-bottom: var(--spacing-sm-1);
}

/* Payment */
.payment-box h5 {
    font-size: var(--global-text);
    margin-bottom: 0;
}

.payment-box p,
.payment-box b {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: calc(var(--global-text) * 0.875);
    margin-bottom: 0;
}

/* Product summary */
.products-summary .product-item .product-tag {
    font-size: calc(var(--global-text) * 0.625);
}

.products-summary .product-item h5,
.products-summary .product-item p {
    margin-bottom: 0;
}

.products-summary .product-item table td:last-child {
    font-weight: bold;
    text-align: right;
}

/* Order summary */
.order-summary h4 {
    margin-bottom: var(--global-spacing);
}

.order-summary table p {
    margin-bottom: var(--global-spacing);
}

.order-summary table tr td:last-child {
    text-align: right;
}

.order-summary table tr:not(:last-child) p {
    font-size: calc(var(--global-text) * 0.875);
}

.order-summary table tr:last-child p {
    font-weight: bold;
    margin-top: var(--global-spacing);
    margin-bottom: 0;
}

.order-summary table tr td:last-child p {
    font-weight: bold;
}

/* Thank you page */
.thank-you-container h3,
.thank-you-container p {
    text-align: center;
    margin: 0;
}

.thank-you-container p b {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
