:root {
    /* Primary color */
    --color-primary: #ffb200;
    --color-primary-light: #F0FDF4;
    --color-primary-dark: #003E2D;

    /* Contrast color */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-gray: #EEEEEF;
    --color-gray-dark: #D3D3D3;
    --color-gray-darker: #637381;

    /* Sub color */
    --color-border: #E8E8E8;
    --color-border-2: #212B3633;
    --color-shadow: #DCDCDC;
    --color-red: #FF0000;
    --color-breadcrumbs: #C3D0E0;

    /* Text color */
    --color-text: #1A1A1A;
    --color-text-light: #333333;
    --color-text-lighter: #666666;

    /* Breakpoints */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;

    /* Width */
    --global-max-width: 1280px;

    /* Custom rem */
    --custom-rem: 16px;

    /* Gap */
    --gap: var(--custom-rem);
    --gap-xs: calc(var(--gap)* 0.25);
    --gap-sm: calc(var(--gap)* 0.5);
    --global-gap: var(--gap);
    --gap-lg: calc(var(--gap)* 2);
    --gap-xl: calc(var(--gap)* 4);

    /* Spacing */
    --spacing-auto: 0 auto;
    --spacing: var(--custom-rem);
    --spacing-sm-1: calc(var(--spacing) * 0.25);
    --spacing-sm-2: calc(var(--spacing) * 0.5);
    --spacing-sm-3: calc(var(--spacing) * 0.75);
    --global-spacing: var(--spacing);
    --spacing-lg-1: calc(var(--spacing) * 1.5);
    --spacing-lg-2: calc(var(--spacing) * 2);
    --spacing-lg-3: calc(var(--spacing) * 2.5);
    --spacing-lg-4: calc(var(--spacing) * 4);
    --spacing-lg-5: calc(var(--spacing) * 5);
    --spacing-lg-6: calc(var(--spacing) * 6);

    /* Border */
    --global-border-radius: calc(var(--custom-rem) * 0.375);
    --round-border-radius: 9999px;

    /* Text */
    --global-text: var(--custom-rem);
}